{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Message Display Box -->
    <div class="container-fluid col-md-5  color  mt-5">
        <div class="fixed-top  rounded">
            
            <h3 class="p-2 room-name">{{ room.room_name|capfirst }}</h3>

            <p>
                <a class="btn m-3 back" href="{% url 'index' %}"> &larrhk;</a>
            </p>
            <p class="d-flex justify-content-end">
                <a href="{% url 'logout' %}" class="btn btn-danger m-3 ">Logout</a>
            </p>
        </div>
        <div id="messages"
             class="px-3 pt-4 mb-10 rounded "
             style="background: url({% static 'background.png' %}) ;">
            {% for message in room_message %}
                {% if message.user.username == request.user.username %}
                    <div class="d-flex justify-content-end ml-10">
                        <p class="sent text-white p-1 rounded">
                            <span>{{ message.content }}</span>
                        </p>
                    </div>
                {% else %}
                    <div class="d-flex justify-content-start mr-10">
                        <p class=" receive text-white p-1 px-2 rounded">
                            <small>{{ message.user.username }}</small>
                            <br>
                            <span>{{ message.content }}</span>
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- Message input box -->
        <div class="input-group col-md-5 fixed-bottom container mb-2">
            <input type="text"
                   id="input-message"
                   class="form-control"
                   placeholder="Type your message">
            <div class="input-group-">
                <input type="submit" value="Send" id="message-send" class="btn btn-success">
            </div>
        </div>
    </div>
    <!-- Convert django variables to js variables -->
    {{ room_name|json_script:"room-name" }}
    {{ request.user.username|json_script:"current-user" }}
    <script src="{% static 'room.js' %}"></script>
{% endblock content %}
