<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chats</title>
</head>
<body>
    <div>
        <nav>
            <h2>Django ChatApp</h2>
        </nav>
    </div>
    <input type="text" id="chat-message">
    <input type="submit" value="Send" id="message-send">

   <div id="received-messages"></div>
   <div id="sent-messages"></div>
   <style>
        #sent-messages{
            
            float: right;
        }
   </style>

    <script>
        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' );
        chatSocket.onopen = function(e){
            console.log("websocket connection is successful")
        };
        chatSocket.onclose = function(e){
            console.log('websocket closed unexpectedly')
        };
        chatSocket.onmessage = function(e){
            const data = JSON.parse(e.data);
            var div = document.createElement("div");
            var receiveDiv = document.createElement("div")
            receiveDiv.innerHTML = data.username + ' : ' + data.message
            div.innerHTML = data.message
            document.querySelector('#chat-message').value = "";
            if (data.username == '{{request.user.username}}') {
                document.querySelector('#sent-messages').appendChild(div)
            }else{
                document.querySelector('#received-messages').appendChild(receiveDiv)
            }
            
        };
        document.getElementById('chat-message').onkeyup  = function(e){
            if (e.keyCode === 13) {
                document.getElementById('message-send').click();
            }
        };
        document.getElementById('message-send').onclick = function(e){
            var messageInput = document.getElementById('chat-message').value;
            var username = '{{request.user.username}}'
            chatSocket.send(JSON.stringify({username:username,message:messageInput}));
        };


    </script>
</body>
</html>