{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if validlink %}
        <div class="">
            <form method="post" class="bg-white container col-md-4 mt-5 p-4 rounded">
                <h3 class="text-success">Change password</h3>
                <hr />
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Change password</button>
            </form>
        </div>
    {% else %}
        <p class="alert alert-danger text-center">
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
    {% endif %}
{% endblock content %}
