{% autoescape off %}
    To initiate the password reset process for your Account, {{ user.get_username }}
    click the button below:
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
       class="btn btn-success">
        confirm
    </a>
    If clicking the above button doesn't work, please copy and paste the URL below in a new browser
    window instead.
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    Sincerely,
    The Unic Team
{% endautoescape %}
