{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form action=""
          method="post"
          class="signup container bg-white col-md-4 shadow rounded mt-5 p-3">
        <h3 class="">Signup</h3>
        <hr>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">SignUp</button>
        <p>
            <small class="text-dark">Already have an account?
                <a href="{% url 'login' %}" class="text-success">login</a>
            </small>
        </p>
    </form>
{% endblock content %}
