.mb-10{
    margin-bottom: 100px;
}
small{
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
}
.receive{
    background-color: green;
}
.sent{
    background-color: brown;
    color: white;
}
body{
    background: linear-gradient(to right,violet,blueviolet,violet,purple);
}
.room-name{
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    background-color: rgb(170, 66, 66);
}
#messages{
    min-height: 75vh;
}
.ml-10{
    margin-left: 80px;
}
.mr-10{
    margin-right: 80px;
}
.rounded-cust{
    border-radius: 10px;
}
p{
    font-family:'Times New Roman', Times, serif;
}
.form-text{
    font-size: 11px;
}
.signup{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(83, 76, 76);
}
.signup>h3{
    color:darkviolet;
}
.back{
    font-weight: 900;
    border-radius: 50%;
    background-color: black;
    color: white;
}
.available-room{
    font-size: 20px;
    color: purple;
}